.body{
    height: 90vh;

}
.conteiner{
}
.reportConteiner{
    width: 70%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid red;

}
@media (max-width: 600px) {
    .reportConteiner{
        flex-direction: column;
        gap: 50px
    
    }
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ingresarImg{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.input{
    width: 100%;
}