
.loginSection{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
max-width: 1000px;
margin: auto;
}

img{
 width: 500px; 
 height: 500px;
}
.cardLog{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}