.perfil{
    width: 100%;
}
.contenedor{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid violet;
    margin: auto;    
    height: 90.5vh;
    max-width: 1000px;

}
@media (max-width: 600px) {
    .contenedor{
        flex-direction: column;
    }
}
.datos{
    padding: 20px;
    text-align: center;
    border: 1px solid rgb(130, 238, 197);
    height: 250px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}
.title{
    font-size: 35px;
    font-weight: 700;
}
.usuario{
    margin-top: 30px;
}
.usuario,.email{
    text-align: left;
}
.salir{
    color:red;
    margin-top: 25px;
    padding: 5px 25px;
}
@media (max-width: 600px) {
    .img{
        width: 300px;
        height: 300px;
    }
}