.conteiner{
    height: 89vh;
}
.titleReporte{
    text-align: center;
    margin-top: 40px;
}
.misReportesConteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width:900px) {
    .misReportesConteiner{
        flex-direction: row;
    }
}