.conteiner{
    min-height: 100vh;
}
.titleReporte{
    text-align: center;
    margin-top: 40px;
}
.misReportesConteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
@media (min-width:900px) {
    .misReportesConteiner{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.body{
    min-height: 100vh;
}

.conteinerEdit{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 900px) {
    .conteiner{
        display: flex;
        justify-content: center;
    }
    .reportConteiner{
        justify-content: center;
    }
}

@media (min-width: 900px) {
    .conteinerEdit{
        display: flex;
        justify-content: center;
    }
    .reportEdit{
        justify-content: center;
    }
}
