.bodyReport{
    min-height: 120vh;

}
.reportConteiner{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 900px) {
    .conteiner{
        display: flex;
        justify-content: center;
    }
    .reportConteiner{
        justify-content: center;
    }
    .bodyReport{
        min-height: 140vh;
    
    }
}
.loaderReport{
    text-align: center;
}




