
.form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}
@media (min-width: 900px) {
    .form{
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        align-items: center;
    }
}
.ingresarImg{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.inputReport{
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 0;
}
.labelName{
    margin-top: 20px;
}
@media (min-width: 900px) {
    .buttonsReportar{
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 10px;
    }
    .divZonaUbicacion{
        width: 35rem;
    }
    .divZonaDescription,.divZonaUbicacion{
        height: 70vh;
    }
    .inputReport{
        width: 100%;
        border: 1px solid black;
        border-radius: 5px;
    }
}
.buttonesFormReporte{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttonEditYReport{
    width: 100%;
    padding: 10px;
    background-color: rgb(151, 234, 159);
    border: 1px;
    border-radius: 5px;
    margin-top: 5px;
    transition: all 0.3s;
}
.buttonEditYReport:hover{
    background-color: rgba(158, 165, 159, 0.782);
}
.loaderReport{
    text-align: center;
}