.conteinerViMascota{
    width: 85%;
}
.titleSeccionMascota{
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.formSeccionMascota{
    text-align: center;
    padding: 10px;
}
.pSeccionMascota{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    gap: 5px;
    margin: 5px 0;
}
.seccionMascota{
    background-color: #abb8c3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
@media (min-width:900px) {
    .seccionMascota{
        margin-top: 50px;
        flex-direction: row;
        justify-content: space-around;
    }
}
.mascotaVista{
    height: 200px;
    width: 100%;
}
@media (min-width:900px) {
    .mascotaVista{
        height: 400px;
        width: 100%;
    }
}
.inputSeccionMascota{
    width: 100%;
}

.divButton{
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.buttonFormSeccionMascota{
    background-color: rgb(0, 91, 0);
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
}
.buttonSeccionVista{
    background: transparent;
    border: none;
    font-size: 30px;
    text-align: right;
}
.buttonSeccionVista:hover{
    color: red;
}
.loaderCircular {
    margin-top: 10px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 