.dropzone{
    border: 3px dashed #e4cdcd;
    border-radius: 5px;
    color: #7d6c6c;
    height: 140px;
   width: 100%;
   background-size: cover;
}
.img{
    max-height: 140px;
    width: 100%;
}
@media (min-width:600px) {
    .dropzone{
        height: 220px;
        width: 100%;
    }
    .img{
        max-height: 220px;
        width: 100%;
    }
}