body{
  margin:0
}
:root {
  --principal-color: #8dc1a7;
  --secondary-color:#e5e5e5;
  --third-color:#747a77;
  --fourth-color:#d3ca9e;
  --fiveth-color:#061d13;
}
.header{
    width: 100%;
    height: 60px;
    background-color: var(--principal-color);
    padding: 10px;
    z-index: 100;
}
.wrapper{
    max-width: 1000px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
    height: 100%;
}
.menuLinks{
    padding: 10px;
    list-style-type: none;
    font-weight: 400;
    font-size: 1.2rem;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    cursor: pointer;
}
.menuLinks:hover{
    background-color: var(--third-color);
    border-bottom: 0.3rem solid #ebc88b ;
    transition: 0.4s ease-in;
}
.menuLinks a{
    text-decoration: none;
}
.abrir, .menuMovile{
    display: none;
}

@media (max-width: 900px) {
  .abrir{
    display: initial;
}
  .header{
    padding: 0;
  }
  .menu{
    display: none;
    align-items: center;
  }
   
  .menuMovile{
    width: 100% ;
    position: relative;
    background-color: var(--third-color);

  }   
  .menuMovile ul{
    padding: 10px 0;
  }
  .menuM li{
    margin: 10px 0;
    list-style-type: none;
    text-align: center;
    padding: 15px;
    background-color: var(--fourth-color);  
    width: 100%;
  }




  }
  .cargando{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #c9d2ce24;
  }
  .span{
    width: 100px;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .linkaso{
    color:var(--fiveth-color)
  }