.conteiner{
  width: 300px;
  height: 300px;
  align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    align-items: center;
  }
  .input{
    width: 90%;
    padding: 14px 16px;
    border-radius: 12px ;
  }
  
  .lostPassword{
    margin: 5px;
    color: bisque;
  }
  .linea{
    border-bottom:solid 1px grey;
    width:85%;
    height:20px;
  }
  .titleDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }