.cardFlotante{
    width: 60vh;
    height: 90vh;
    position:absolute;
    background-color: rgb(21, 103, 144);
    top: 20%;
    left: 37%;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    height: 300px;
    justify-content: center;
    align-items: center;
  }
  .input{
    width: 90%;
    padding: 14px 16px;
    border-radius: 12px ;
  }
  
  .lostPassword{
    margin: 5px;
    color: bisque;
  }
  .linea{
    border-bottom:solid 1px grey;
    width:85%;
    height:20px;
  }
  .titleDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }