.body{
min-height: 100vh;
width: 100%;
}

.secciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Poppins', sans-serif;

}
.seccionNombres{
    min-width: 300px;
    background-color: blanchedalmond;
    min-height: 100vh;
    align-items: center;
    display: none;
}
@media (min-width: 900px) {
    .secciones{
        justify-content: center;
    }
    .seccionNombres{
        display: flex;
        align-items:flex-start;
    }
  }
ul li{
    list-style: none;
    font-size: 15px;
    font-weight: 400;
}
.listado{
    width:80%;
    margin: auto;
}
@media (min-width: 900px) {
    .listado{
        margin: 0;
    }
  }
.tituloListado{
    text-align: center;
    margin-top: 20px;
}
.mascotasCercanas,.cardMascotavista{
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
    flex-direction: column;
    min-width: 60%;
}
@media (min-width: 700px) {
    .mascotasCercanas{
        flex-direction: row;
        margin-top: 0px;
        flex-wrap: wrap;
    }
  }
.imgAside{
    width: 200px;
    height: 200px;
}

.cargando{
    background-color: #e5e5e59b;
    width: 100%;
    min-height: 100vh;
}

  .span{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ulMCercanas{
    border-bottom: 1px rgb(88, 88, 88) solid;
  }